body {
    background-image: url('../img/fond.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    color: rgb(67, 48, 235);
    -webkit-text-stroke: 0.25px white;
    font-family: texte;
    font-size: 2vw;
}


::-webkit-scrollbar{
    width: 0;
}

p {
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 0;
    padding-top: 5vh;
    font-size: 5vw;
    
}

h2{
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}